#pragma once
#include "..\include\Resources.h"

BASIC_SHADER_VERT
BASIC_SHADER_FRAG

TORUS_OBJ

SKYBOX_SHADER_VERT
SKYBOX_SHADER_FRAG

SNOWFLAKE_SHADER_FRAG
SNOWFLAKE_SHADER_VERT

EDGE_SHADER_FRAG
EDGE_SHADER_VERT


RL_SNOWFLAKE_1
RL_SNOWFLAKE_2
RL_SNOWFLAKE_3
RL_SNOWFLAKE_4
RL_SNOWFLAKE_5


THINFILM_COLOR_RAMP

NEGX
NEGY
NEGZ
POSX
POSY
POSZ

